################
# compiled tests
################
test_jumphash

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.lo
*.la
*.log
*.trs
*.log
*.tar.gz

################
# autotools
################
autoscan.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
stamp-h1
INSTALL
Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
missing
ar-lib
config.guess
config.sub
ltmain.sh
test-driver
.dirstamp
.deps/
.libs/
m4/
build-aux/
